Tugas 1 Implementasi AI untuk Keuangan.json
{
  "name": "Tugas 1 Implementasi AI untuk Keuangan",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Pembuatan Invoice Otomatis",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nama Klien",
              "fieldName": "Nama Klien",
              "requiredField": true
            },
            {
              "fieldLabel": " Jam Kerja",
              "fieldName": "Jam Kerja",
              "requiredField": true
            },
            {
              "fieldLabel": "Rate",
              "fieldName": "Rate",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Klien",
              "fieldName": "Email  Klien",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -192,
        64
      ],
      "id": "1339e05c-973f-4190-970c-3dbd0bd53059",
      "name": "On form submission",
      "webhookId": "48f9d5bf-37c0-4287-9c5e-51693d2a1820"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2650f6cc-0640-40a5-a1cb-8c8d86ab40f0",
              "name": "Total Biaya",
              "value": "={{\n  (Number($json['Jam Kerja']) * Number($json['Rate'].replace(/\\./g, \"\")))\n  .toLocaleString(\"id-ID\")\n}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        64
      ],
      "id": "f2a9e8b7-de8e-4247-ad8b-db6f61aa4e0d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"id\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Invoice</title>\n  <style>\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      background: #f4f6f8;\n      padding: 40px;\n      color: #333;\n    }\n\n    .invoice-wrapper {\n      max-width: 800px;\n      margin: auto;\n      background: #ffffff;\n      border-radius: 8px;\n      padding: 40px;\n      box-shadow: 0 4px 12px rgba(0,0,0,0.08);\n    }\n\n    .invoice-header {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      border-bottom: 2px solid #eaeaea;\n      padding-bottom: 20px;\n      margin-bottom: 30px;\n    }\n\n    .invoice-header h1 {\n      margin: 0;\n      font-size: 28px;\n      color: #1f2937;\n      letter-spacing: 1px;\n    }\n\n    .invoice-meta {\n      text-align: right;\n      font-size: 14px;\n      color: #555;\n    }\n\n    .section {\n      margin-bottom: 30px;\n    }\n\n    .section-title {\n      font-size: 14px;\n      font-weight: bold;\n      color: #6b7280;\n      text-transform: uppercase;\n      margin-bottom: 8px;\n    }\n\n    .client-info p {\n      margin: 4px 0;\n      font-size: 15px;\n    }\n\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 15px;\n    }\n\n    table thead th {\n      background: #f9fafb;\n      border-bottom: 2px solid #e5e7eb;\n      padding: 12px;\n      text-align: left;\n      font-size: 14px;\n    }\n\n    table tbody td {\n      padding: 12px;\n      border-bottom: 1px solid #e5e7eb;\n      font-size: 14px;\n    }\n\n    table th:nth-child(2),\n    table th:nth-child(3),\n    table th:nth-child(4),\n    table td:nth-child(2),\n    table td:nth-child(3),\n    table td:nth-child(4) {\n      text-align: right;\n    }\n\n    .total-box {\n      margin-top: 30px;\n      display: flex;\n      justify-content: flex-end;\n    }\n\n    .total-box table {\n      width: 300px;\n    }\n\n    .total-box td {\n      padding: 10px;\n      font-size: 15px;\n    }\n\n    .total-box tr:last-child td {\n      font-weight: bold;\n      font-size: 18px;\n      border-top: 2px solid #111827;\n    }\n\n    .footer {\n      margin-top: 50px;\n      font-size: 13px;\n      color: #6b7280;\n      text-align: center;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"invoice-wrapper\">\n\n    <!-- HEADER -->\n    <div class=\"invoice-header\">\n      <h1>INVOICE</h1>\n      <div class=\"invoice-meta\">\n        <div>Tanggal: {{ $now }}</div>\n        <div>Invoice #: INV-{{ $execution.id }}</div>\n      </div>\n    </div>\n\n    <!-- CLIENT INFO -->\n    <div class=\"section client-info\">\n      <div class=\"section-title\">Ditagihkan Kepada</div>\n      <p><strong>{{ $('On form submission').item.json['Nama Klien'] }}</strong></p>\n      <p>{{ $('On form submission').item.json['Email Klien'] }}</p>\n    </div>\n\n    <!-- DETAIL TABLE -->\n    <div class=\"section\">\n      <div class=\"section-title\">Detail Pekerjaan</div>\n\n      <table>\n        <thead>\n          <tr>\n            <th>Deskripsi</th>\n            <th>Jam</th>\n            <th>Rate</th>\n            <th>Subtotal</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td>Jasa Pekerjaan / Konsultasi</td>\n            <td>{{ $('On form submission').item.json['Jam Kerja'] }}</td>\n            <td>{{ $('On form submission').item.json['Rate'] }}</td>\n            <td>{{ $json['Total Biaya'] }}</td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n\n    <!-- TOTAL -->\n    <div class=\"total-box\">\n      <table>\n        <tr>\n          <td>Total Tagihan</td>\n          <td style=\"text-align:right;\">\n            Rp {{ $json['Total Biaya'] }}\n          </td>\n        </tr>\n      </table>\n    </div>\n\n    <!-- FOOTER -->\n    <div class=\"footer\">\n      Invoice ini dibuat secara otomatis.<br>\n      Terima kasih atas kepercayaan Anda.\n    </div>\n\n  </div>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        224,
        64
      ],
      "id": "197d23ec-7560-41ad-a4cb-88376b632639",
      "name": "HTML"
    },
    {
      "parameters": {
        "html_content": "={{ $json.html }}"
      },
      "type": "n8n-nodes-htmlcsstopdf.htmlcsstopdf",
      "typeVersion": 1,
      "position": [
        432,
        64
      ],
      "id": "5ac10083-a758-4e95-a853-dead84da0b2c",
      "name": "Convert HTML to PDF",
      "alwaysOutputData": false,
      "credentials": {
        "htmlcsstopdfApi": {
          "id": "ObdAGcyrmD1Li064",
          "name": "HTML to PDF account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.pdf_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        64
      ],
      "id": "ef754d4f-60db-49bb-abcb-281a62a84f30",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields').item.json['Email  Klien'] }}",
        "subject": "=Invoice dari Vedara Company untuk {{ $('Edit Fields').item.json['Nama Klien'] }}",
        "message": "=<p>Yth. <strong>{{ $('On form submission').item.json['Nama Klien'] }}</strong>,</p>  <p>Terima kasih atas kepercayaan Anda telah menggunakan jasa kami. <br> Bersama email ini, kami lampirkan invoice untuk pekerjaan yang telah diselesaikan.</p>  <p>Berikut adalah ringkasan singkat tagihan Anda:</p> <ul>     <li><strong>Total Jam Kerja:</strong>  {{ $('On form submission').item.json['Jam Kerja'] }}jam</li>     <li><strong>Total Tagihan:</strong> {{ $('Edit Fields').item.json['Total Biaya'] }}</li>     <li><strong>Jatuh Tempo:</strong> 14 hari</li> </ul>  <p>Detail lengkap, termasuk rincian pekerjaan dan instruksi pembayaran, dapat Anda temukan pada file PDF yang terlampir:{{ $json.pdf_url }}</p>  <blockquote style=\"border-left: 4px solid #ccc; padding-left: 15px; margin-left: 0; font-style: italic;\">   <strong>Catatan Keamanan:</strong> Untuk melindungi Anda, kami tidak akan pernah meminta informasi password atau data sensitif melalui email. Harap lakukan pembayaran hanya ke nomor rekening resmi yang tertera di dalam invoice PDF. </blockquote>  <p>Jika ada pertanyaan lebih lanjut, jangan ragu untuk membalas email ini.</p>  <p>Hormat kami,</p>  <p><strong>[Zen / Vedara Company]</strong><br> [Vedara / 123456789]</p>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        848,
        64
      ],
      "id": "591ba4e0-fe3f-40c2-b6b9-daf2cb0695f3",
      "name": "Send a message",
      "webhookId": "cc5a8d84-ba44-454e-8f21-41f2eac61d88",
      "credentials": {
        "gmailOAuth2": {
          "id": "TKZaaUf7LD8zGWkT",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Convert HTML to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to PDF": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "230f75f2-ac57-44a2-a92e-34a28f7ffb59",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1db11a625f3afe1fab5c0985ea49aa71b566a373fd238a812e27aacddcade49d"
  },
  "id": "Vh4UisF0jHEKOZ3M",
  "tags": []
}