Tugas 6.1 Modul 7 Sistem Triase Phising AI.json
{
  "name": "Tugas 6.1 Modul 7 Sistem Triase Phising AI",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -576,
        -16
      ],
      "id": "3b23445c-2584-4dd7-84a2-8c9f169f2818",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "TKZaaUf7LD8zGWkT",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0cd2c592-e378-4097-8ae1-66b9be8c8fe6",
              "leftValue": "={{ $json.From }}",
              "rightValue": "customer@bcainsurance.co.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "defbf211-67dc-414a-a28e-3c2f843f22ff",
              "leftValue": "={{ $json.From }}",
              "rightValue": "haloblu@bcadigital.co.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "546f275f-e8fc-46b8-9c1b-146f490955b5",
              "leftValue": "={{ $json.From }}",
              "rightValue": "customer@bcalife.co.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "5bd8eeaa-b327-4bd9-9025-d89dbc1e48e0",
              "leftValue": "={{ $json.From}}",
              "rightValue": "recruitmentbcaf@bcaf.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "eeb6b41e-845e-4424-a37d-18f6e01d5562",
              "leftValue": "={{ $json.From}}",
              "rightValue": "dama23079si@student.nurulfikri.ac.id",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -368,
        -16
      ],
      "id": "a05bc8ec-9784-406a-8581-a53b1f8ec38c",
      "name": "Check Allowlist"
    },
    {
      "parameters": {
        "chatId": "5469947998",
        "text": "=Ada email baru dari: {{ $('Gmail Trigger').item.json.From }}\nSubject: {{ $('Gmail Trigger').item.json.Subject }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -160,
        -176
      ],
      "id": "6a5b59f9-a008-432e-8b65-22968457b418",
      "name": "Reminder Email dari Allowlist",
      "webhookId": "9d8cca1b-b53a-4a2d-b260-9d09495b6b3d",
      "credentials": {
        "telegramApi": {
          "id": "RapAv7paPrOKKozX",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analisis teks email ini untuk tanda-tanda phishing keuangan. Fokus pada urgensi palsu, tautan mencurigakan, permintaan info pribadi, atau peniruan identitas bank. Beri skor bahaya dari 1 sampai 10. Jawab HANYA dengan format: 'Skor: [angka]'.\\n\\nEmail:{{ $json.snippet }}  Subject:{{ $json.Subject }}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -160,
        80
      ],
      "id": "f196c0db-1d31-444f-a0c0-396fefdd447c",
      "name": "Analisa Phising"
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -160,
        288
      ],
      "id": "0c31113a-f33b-4332-a976-8b147e004cd7",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "BPMkGujpZ5678poD",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ambil data dari node-node sebelumnya\n// $json.text adalah output dari Basic LLM Chain\nconst llmOutput = $json.text; \n\n// $json.id adalah Message ID yang datang dari \"Gmail Trigger\"\n// Node LLM Chain akan meneruskan data ini secara otomatis\nconst emailMessageId = $json.id; \n\n// Gunakan regex untuk menemukan \"Skor: [angka]\"\nconst match = llmOutput.match(/Skor:\\s*(\\d+)/);\n\nlet score = 0;\n\n// Jika ditemukan, ambil angkanya\nif (match && match[1]) {\n  score = parseInt(match[1], 10);\n}\n\n// Kembalikan skor DAN messageId untuk node IF dan Gmail\nreturn { \n  score: score,\n  messageId: emailMessageId \n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        80
      ],
      "id": "3efbf21d-a522-4af1-9094-172d0c7bce31",
      "name": "EkstrakSkor dari Teks AI"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ecdd5e2b-791a-4e4e-896c-1ea7ccd9619f",
              "leftValue": "={{ $json.score }}",
              "rightValue": 9,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        80
      ],
      "id": "0ae38c0a-4448-498f-889b-10fee1b6ee1d",
      "name": "Cek Skor Bahaya"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "SPAM"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        704,
        -80
      ],
      "id": "ab490dd2-4c70-4c97-ab75-6d02b813ff68",
      "name": "Memberikan Label Otomatis",
      "webhookId": "71c97dc0-bc00-45b8-9eb9-5bae8df17bb6",
      "credentials": {
        "gmailOAuth2": {
          "id": "TKZaaUf7LD8zGWkT",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5469947998",
        "text": "=⚠️ Tinjauan Email Diperlukan ⚠️  Email ini TIDAK dihapus, tapi AI mendeteksinya. Mohon periksa secara manual.   - Skor AI: {{ $json.score }}/10  - Dari: {{ $('Gmail Trigger').item.json.From }} - Subjek: {{ $('Gmail Trigger').item.json.Subject }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        160
      ],
      "id": "e5910f7d-fa84-4aa2-a68f-7a29899ee6a0",
      "name": "Notif untuk Skor Rendah",
      "webhookId": "ff3d8c9e-2a2f-4695-8e69-bc8c15fe00a4",
      "credentials": {
        "telegramApi": {
          "id": "RapAv7paPrOKKozX",
          "name": "Telegram account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Check Allowlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Allowlist": {
      "main": [
        [
          {
            "node": "Reminder Email dari Allowlist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analisa Phising",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analisa Phising",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analisa Phising": {
      "main": [
        [
          {
            "node": "EkstrakSkor dari Teks AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EkstrakSkor dari Teks AI": {
      "main": [
        [
          {
            "node": "Cek Skor Bahaya",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Skor Bahaya": {
      "main": [
        [
          {
            "node": "Memberikan Label Otomatis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notif untuk Skor Rendah",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "52f32c80-c65a-46fd-912b-a5c77cf852a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1db11a625f3afe1fab5c0985ea49aa71b566a373fd238a812e27aacddcade49d"
  },
  "id": "qqdSD49ujHTL3el1",
  "tags": []
}