tugas 4 pertemuan 3 modul 6 (auto posting schedule).json
{
  "name": "tugas 4 pertemuan 3 modul 6 (auto posting schedule)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "4e84c571-93d7-4f89-bea8-4401c02a10b2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IZW-sx5rPSjXPRZ5czZ8JnSD7nWMvb-nBQLa0sfkzq0",
          "mode": "list",
          "cachedResultName": "auto posting scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZW-sx5rPSjXPRZ5czZ8JnSD7nWMvb-nBQLa0sfkzq0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZW-sx5rPSjXPRZ5czZ8JnSD7nWMvb-nBQLa0sfkzq0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "c8e93d30-baa2-4344-ab79-002b0bf9bc85",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XTSgLsOulOq9eTF7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n// Set zona waktu Jakarta\nconst now = DateTime.now().setZone('Asia/Jakarta');\nconst postsToSend = [];\n\nfor (const item of items) {\n  const row = item.json;\n\n  const dateStr = row['Scheduled Date']; // Contoh: \"11/02/2026\"\n  const timeStr = row['Scheduled Time']; // Contoh: \"9:30:00\"\n\n  if (row.Status === 'pending' && dateStr && timeStr) {\n\n    // PERBAIKAN: Gunakan fromFormat karena format tanggal bukan ISO (YYYY-MM-DD)\n    // Kita gabungkan \"11/02/2026\" dan \"9:30:00\"\n    const scheduledTime = DateTime.fromFormat(\n      `${dateStr} ${timeStr}`,\n      \"dd/MM/yyyy H:mm:ss\",\n      { zone: 'Asia/Jakarta' }\n    );\n\n    // Debugging: Hapus komentar line di bawah ini untuk melihat hasil parse\n    // console.log(`Input: ${dateStr} ${timeStr} | Parsed: ${scheduledTime.toString()} | Now: ${now.toString()}`);\n\n    if (scheduledTime.isValid && scheduledTime <= now) {\n      postsToSend.push(item);\n    }\n  }\n}\n\nreturn postsToSend;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "f9596d85-8392-48aa-8e1f-92514322051c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "5469947998",
        "text": "={{ $json.Content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "ed0d9f61-f8d2-4123-8481-0f9e26a774f0",
      "name": "Send a text message",
      "webhookId": "0463d936-aace-4e57-a6a5-e4c5e65be330",
      "credentials": {
        "telegramApi": {
          "id": "5Qwp5RtJqzXuyVWZ",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6645583e-3d98-4b2d-863a-e0398cc7e536",
              "name": "row_number",
              "value": "={{ $('Code in JavaScript').item.json.row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "1e66af2a-71ff-4978-8010-16a48a6df800",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1IZW-sx5rPSjXPRZ5czZ8JnSD7nWMvb-nBQLa0sfkzq0",
          "mode": "list",
          "cachedResultName": "auto posting scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZW-sx5rPSjXPRZ5czZ8JnSD7nWMvb-nBQLa0sfkzq0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZW-sx5rPSjXPRZ5czZ8JnSD7nWMvb-nBQLa0sfkzq0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Code in JavaScript').item.json.ID }}",
            "Status": "published"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scheduled Date",
              "displayName": "Scheduled Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scheduled Time",
              "displayName": "Scheduled Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        0
      ],
      "id": "2708f10e-9016-4e46-ac0f-203619dd7cbd",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XTSgLsOulOq9eTF7",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dd2a7a25-661f-4e69-88e2-a4c013949eaa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1db11a625f3afe1fab5c0985ea49aa71b566a373fd238a812e27aacddcade49d"
  },
  "id": "YDTMv3cafj1ifrMw",
  "tags": []
}