TUGAS 1MODUL 8 Otomasi Onboarding.json
{
  "name": "TUGAS 1MODUL 8 Otomasi Onboarding",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1HKsslNummZ_NmuV5T_gOtWGDpiZI1YvbIt3h5VESmb8",
          "mode": "list",
          "cachedResultName": "Onboarding Karyawan Baru (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HKsslNummZ_NmuV5T_gOtWGDpiZI1YvbIt3h5VESmb8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1476572865,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HKsslNummZ_NmuV5T_gOtWGDpiZI1YvbIt3h5VESmb8/edit#gid=1476572865"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        -48
      ],
      "id": "36b5610c-9885-4c08-9f7f-27fcaca55bfa",
      "name": "Sheet Onboarding Karyawan",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "EkdxfqgnMspZOAtk",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.sheet.Email }}",
        "subject": "=HALOO SELAMAT DATANG DI PERUSAHAAN, {{ $json.sheet['Full Name'] }}",
        "message": "= Subject: Selamat Datang di Perusahaan,  {{ $json.sheet['First Name'] }} {{ $json.sheet['Last Name'] }}  Message: Hi {{ $('Sheet Onboarding Karyawan').first().json['First Name'] }}{{ $('Sheet Onboarding Karyawan').first().json['Last Name'] }},  Selamat datang di Perusahaan! Kami sangat senang Anda bergabung sebagai {{ $('Sheet Onboarding Karyawan').first().json.Position }} mulai {{ $('Sheet Onboarding Karyawan').first().json['Start Date'] }}.  Berikut daftar tugas onboarding Anda: <ul> <li>{{ $('Checklist').all().map(i => i.json['Checklist Onboarding Karyawan']).join('</li><li>') }}</li> </ul>  Jika ada pertanyaan, reply email ini.  Salam, Tim HR",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        880,
        -48
      ],
      "id": "ae9e8e05-4122-4e9f-9edc-5185dfdcd808",
      "name": "Send a message",
      "webhookId": "0f859335-267a-464b-a200-1f5fc1d5545e",
      "credentials": {
        "gmailOAuth2": {
          "id": "TKZaaUf7LD8zGWkT",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a64b1b53-e672-471f-ad83-a085cbd9a7bb",
              "name": "first_name",
              "value": "={{ $json['First Name'] }}",
              "type": "string"
            },
            {
              "id": "115cb611-ff0c-4375-b837-fc70f1ef8e69",
              "name": "last_name",
              "value": "={{ $json['Last Name'] }}",
              "type": "string"
            },
            {
              "id": "d05981f8-5388-4482-84dd-3730e3be4cc7",
              "name": "full_name",
              "value": "={{ $json['Full Name'] }}",
              "type": "string"
            },
            {
              "id": "b00b3f84-e9e6-4247-92ae-d49208db6945",
              "name": "email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "b57113ef-30be-4643-b297-f6c562ebce5f",
              "name": "start_date",
              "value": "={{ $json['Start Date'] }}",
              "type": "number"
            },
            {
              "id": "ed520668-e71f-4cf2-b15d-d0b56b8ad55a",
              "name": "position",
              "value": "={{ $json.Position }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        -48
      ],
      "id": "747df035-09a5-4dbf-978a-b8419ff99c6c",
      "name": "Data Normalization"
    },
    {
      "parameters": {
        "listId": "69ec3ce17ad08e2a07bfc281",
        "name": "Cheklist onboarding",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        80,
        -48
      ],
      "id": "493bfac3-3b35-4367-aaf5-9f27390a8ce8",
      "name": "Membuat Kartu",
      "executeOnce": true,
      "credentials": {
        "trelloApi": {
          "id": "psWXD8zZfIoNTRFB",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HKsslNummZ_NmuV5T_gOtWGDpiZI1YvbIt3h5VESmb8",
          "mode": "list",
          "cachedResultName": "Onboarding Karyawan Baru (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HKsslNummZ_NmuV5T_gOtWGDpiZI1YvbIt3h5VESmb8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1144180514,
          "mode": "list",
          "cachedResultName": "Cheklist",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HKsslNummZ_NmuV5T_gOtWGDpiZI1YvbIt3h5VESmb8/edit#gid=1144180514"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        -48
      ],
      "id": "c55b80b3-eb66-45f5-8360-51f1b606952d",
      "name": "Checklist",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XTSgLsOulOq9eTF7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "checklist",
        "operation": "create",
        "cardId": {
          "__rl": true,
          "value": "69ec415b007b14acea302739",
          "mode": "id"
        },
        "name": "={{ $json['Checklist Onboarding Karyawan'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        496,
        -48
      ],
      "id": "1d3c41a2-f17a-446d-b91f-63944113303e",
      "name": "Membuat Checklist",
      "credentials": {
        "trelloApi": {
          "id": "psWXD8zZfIoNTRFB",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      checklist: $('Checklist').all().map(i => i.json['Checklist Onboarding Karyawan']),\n      sheet: $('Sheet Onboarding Karyawan').first().json\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -48
      ],
      "id": "295e138e-54eb-4a04-b671-f946e830255d",
      "name": "Gabung jadi 1"
    }
  ],
  "pinData": {},
  "connections": {
    "Sheet Onboarding Karyawan": {
      "main": [
        [
          {
            "node": "Data Normalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Normalization": {
      "main": [
        [
          {
            "node": "Membuat Kartu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Kartu": {
      "main": [
        [
          {
            "node": "Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checklist": {
      "main": [
        [
          {
            "node": "Membuat Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Checklist": {
      "main": [
        [
          {
            "node": "Gabung jadi 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gabung jadi 1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "37357b73-2f68-49f8-a219-64a78305f16a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1db11a625f3afe1fab5c0985ea49aa71b566a373fd238a812e27aacddcade49d"
  },
  "id": "GAP2KMGbFG4sFMnM",
  "tags": []
}