TUGAS 8 MODUL 7 Analisis Sentimen Harian ($BTC_$ETH).json
{
  "name": "TUGAS 8 MODUL 7 Analisis Sentimen Harian ($BTC_$ETH)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -96,
        64
      ],
      "id": "a2f9b588-24a9-41c6-9031-169055d1f217",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        512
      ],
      "id": "749be038-f563-4be8-9a9b-e47ea194212b",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Berdasarkan data sentimen crypto hari ini dari media berita:\n\nData BTC:\n- Total Berita: {{ $node[\"Edit Fields\"].json.BTC.total }}\n- Signal: {{ $node[\"Edit Fields\"].json.BTC.signal }}\n- Skor Rata-rata: {{ $node[\"Edit Fields\"].json.BTC.avg_compound }}\n\nData ETH:\n- Total Berita: {{ $node[\"Edit Fields\"].json.ETH.total }}\n- Signal: {{ $node[\"Edit Fields\"].json.ETH.signal }}\n- Skor Rata-rata: {{ $node[\"Edit Fields\"].json.ETH.avg_compound }}\n\nBerikan ringkasan singkat dalam 1 kalimat mengenai kondisi pasar crypto saat ini (apakah sedang optimis atau waspada).",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        320,
        64
      ],
      "id": "ba1b4e30-1506-48be-8d9e-b8fcaa8b0011",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        256,
        272
      ],
      "id": "31a6e465-51b5-4cbb-973b-39328ff71523",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "BPMkGujpZ5678poD",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Jw4k4HG5DgRdItkI5w08jhwiunaU0O70E4g086OylOM",
          "mode": "list",
          "cachedResultName": "Menyesuaikan Kodingan Colab dan Google Sheets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Jw4k4HG5DgRdItkI5w08jhwiunaU0O70E4g086OylOM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Jw4k4HG5DgRdItkI5w08jhwiunaU0O70E4g086OylOM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $('Schedule Trigger').item.json.timestamp }}",
            "BTC_Signal": "={{ $node[\"Edit Fields\"].json.BTC.signal }}",
            "BTC_Score": "={{ $node[\"Edit Fields\"].json.BTC.avg_compound }}",
            "ETH_Signal": "={{ $node[\"Edit Fields\"].json.ETH.signal }}",
            "ETH_Score": "={{ $node[\"Edit Fields\"].json.ETH.avg_compound }}",
            "AI_Summary": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BTC_Signal",
              "displayName": "BTC_Signal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "BTC_Score",
              "displayName": "BTC_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ETH_Signal",
              "displayName": "ETH_Signal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ETH_Score",
              "displayName": "ETH_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI_Summary",
              "displayName": "AI_Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Signal",
              "displayName": "Signal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        64
      ],
      "id": "b9f1403d-e2e2-4f58-8e4b-94bf76bcc939",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XTSgLsOulOq9eTF7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Jw4k4HG5DgRdItkI5w08jhwiunaU0O70E4g086OylOM",
          "mode": "list",
          "cachedResultName": "Menyesuaikan Kodingan Colab dan Google Sheets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Jw4k4HG5DgRdItkI5w08jhwiunaU0O70E4g086OylOM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Jw4k4HG5DgRdItkI5w08jhwiunaU0O70E4g086OylOM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        512
      ],
      "id": "68dfdb34-735a-42dd-b0ba-7ff490ef2915",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XTSgLsOulOq9eTF7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Mengambil data dari node sebelumnya secara otomatis\nconst items = $input.all();\n\nlet btc_neutral = 0;\nlet eth_neutral = 0;\nlet total_data = items.length;\n\n// Loop untuk menghitung sinyal berdasarkan kolom yang ada di sheet kamu\nfor (const item of items) {\n  if (item.json.BTC_Signal === 'NEUTRAL') btc_neutral++;\n  if (item.json.ETH_Signal === 'NEUTRAL') eth_neutral++;\n}\n\nreturn {\n  total_laporan: total_data,\n  btc_stats: {\n    neutral: btc_neutral,\n    avg_score: items[0].json.BTC_Score // Mengambil skor terbaru\n  },\n  eth_stats: {\n    neutral: eth_neutral,\n    avg_score: items[0].json.ETH_Score\n  },\n  ringkasan_ai: items[0].json.AI_Summary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        512
      ],
      "id": "e8804d8f-85b5-4c73-a3f7-4472ed7a6f88",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah seorang analis pasar kripto profesional. Buatlah laporan singkat untuk dikirim ke Telegram berdasarkan ringkasan data berikut:\n\n- Total Data Dianalisis: {{ $json.total_laporan }}\n- Status BTC Terbaru: {{ $json.btc_stats.neutral > 0 ? 'Stabil/Netral' : 'Bergejolak' }} (Skor: {{ $json.btc_stats.avg_score }})\n- Status ETH Terbaru: {{ $json.eth_stats.neutral > 0 ? 'Stabil/Netral' : 'Bergejolak' }} (Skor: {{ $json.eth_stats.avg_score }})\n\nAnalisis Tambahan:\n{{ $json.ringkasan_ai }}\n\nBuatlah laporan dalam 2-3 kalimat yang santai namun informatif untuk komunitas trader di Telegram.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        480,
        512
      ],
      "id": "02b99cdb-1b30-4d70-bc67-ef2933d3313b",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        480,
        704
      ],
      "id": "c460896d-99a7-4ec3-81d5-0a73f4ec45bf",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "BPMkGujpZ5678poD",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5469947998",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        512
      ],
      "id": "659e2b05-74ad-4ff2-8907-23fe8caccfdc",
      "name": "Send a text message",
      "webhookId": "8aec95af-aa30-4307-afd5-01f1cce9d07d",
      "credentials": {
        "telegramApi": {
          "id": "RapAv7paPrOKKozX",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"BTC\": {\n    \"total\": 92,\n    \"bullish\": 30,\n    \"bearish\": 35,\n    \"neutral\": 27,\n    \"avg_compound\": -0.04,\n    \"signal\": \"NEUTRAL\",\n    \"scraped_at\": \"2026-04-22T10:34:34.904592\"\n  },\n  \"ETH\": {\n    \"total\": 74,\n    \"bullish\": 31,\n    \"bearish\": 31,\n    \"neutral\": 12,\n    \"avg_compound\": -0.0064,\n    \"signal\": \"NEUTRAL\",\n    \"scraped_at\": \"2026-04-22T10:34:34.905090\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        64
      ],
      "id": "798224ba-1df2-405a-b08c-e50ca3e598e5",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "39ad8cdc-52cc-4800-94e3-f74cffe42b60",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1db11a625f3afe1fab5c0985ea49aa71b566a373fd238a812e27aacddcade49d"
  },
  "id": "hN1n21FRwgu79Ujr",
  "tags": []
}