TUGAS 5 MODUL 7 Peringkas Berita Keuangan Harian.json
{
  "name": "TUGAS 5 MODUL 7 Peringkas Berita Keuangan Harian",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "730b7621-faaa-4f90-a312-0543f8a3e005",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        528,
        -16
      ],
      "id": "1b7faae2-bbe0-4d66-a20e-b2d61dad552a",
      "name": "Merge"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        800,
        -16
      ],
      "id": "b48d8792-fdb9-4c65-8e75-8eb412ff9623",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1008,
        -16
      ],
      "id": "8cb02ff2-d0dd-4b43-9b90-c54c35203990",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "body"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        48,
        240
      ],
      "id": "15e701da-0c3e-4a1a-9a3f-8a48679094eb",
      "name": "HTML"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        256,
        240
      ],
      "id": "b63c3a29-332d-4bbf-97dc-039faff6f41a",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        464,
        240
      ],
      "id": "cdb6e25a-1b81-40e8-97dc-81b0119b5099",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "chatId": "5469947998",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        240
      ],
      "id": "9c48623e-51b1-40a9-b2f0-577f70584f2c",
      "name": "Send a text message",
      "webhookId": "d35c292e-8fc4-404f-a70a-c7097b852027",
      "credentials": {
        "telegramApi": {
          "id": "RapAv7paPrOKKozX",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.cnbcindonesia.com/market/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        256,
        -208
      ],
      "id": "3ea93098-052f-4bf4-8425-f701f55dd604",
      "name": "CNBC Indonesia"
    },
    {
      "parameters": {
        "url": "https://finance.detik.com/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        256,
        0
      ],
      "id": "202ebca1-be3e-4a72-9e2b-4e6929043505",
      "name": "Finance Detik"
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        400,
        448
      ],
      "id": "62b60945-df05-4221-b0c5-ffa1513c8d32",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "BPMkGujpZ5678poD",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "CNBC Indonesia",
            "type": "main",
            "index": 0
          },
          {
            "node": "Finance Detik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CNBC Indonesia": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance Detik": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "80fc7a71-1870-4a6d-af0a-44457c8d06c4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1db11a625f3afe1fab5c0985ea49aa71b566a373fd238a812e27aacddcade49d"
  },
  "id": "xmA7j7a5oswaI9M2",
  "tags": []
}