TUGAS 3 MODUL 7 Otomasi Laporan Bulanan.json
{
  "name": "TUGAS 3 MODUL 7 Otomasi Laporan Bulanan",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "6baad109-654d-4d76-87fb-858f39977f77",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-hK2FQT1QRDGrJMjWunfC4jZyJqe7geJIE5gYhDUp3I",
          "mode": "list",
          "cachedResultName": "Dummy Keuangan 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-hK2FQT1QRDGrJMjWunfC4jZyJqe7geJIE5gYhDUp3I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1924583433,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-hK2FQT1QRDGrJMjWunfC4jZyJqe7geJIE5gYhDUp3I/edit#gid=1924583433"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        -192
      ],
      "id": "d1a9f87e-37fd-4a41-ae5e-0b7488ddffd5",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XTSgLsOulOq9eTF7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10YMkxTICLQjs8FC-AJ6NFpjY2kuiYCuG7uXUf17wK6Y",
          "mode": "list",
          "cachedResultName": "Dummy Keuangan 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10YMkxTICLQjs8FC-AJ6NFpjY2kuiYCuG7uXUf17wK6Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1749415740,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10YMkxTICLQjs8FC-AJ6NFpjY2kuiYCuG7uXUf17wK6Y/edit#gid=1749415740"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        0
      ],
      "id": "598e40c8-8905-4333-81dc-0b61f533584d",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XTSgLsOulOq9eTF7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1TUTkwYM6b9Pyb0flVDHIpM96qg9F5dUMCvCr0BBfOK4",
          "mode": "list",
          "cachedResultName": "Dummy Keuangan 3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUTkwYM6b9Pyb0flVDHIpM96qg9F5dUMCvCr0BBfOK4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1253886861,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUTkwYM6b9Pyb0flVDHIpM96qg9F5dUMCvCr0BBfOK4/edit#gid=1253886861"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        176
      ],
      "id": "e734aa48-5a8d-405f-ba60-9282d03da108",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XTSgLsOulOq9eTF7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        544,
        -112
      ],
      "id": "9f624a46-5f94-421f-a2c8-c978302fe847",
      "name": "Merge"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "ID Laporan",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        912,
        -112
      ],
      "id": "b88110fc-f7f3-415e-b8b4-dc3e5cbd5f2f",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1SNcJlIAOrLklh-5B7dyBg9utqtuSUrjmj66jbfMprSY",
          "mode": "list",
          "cachedResultName": "Dummy Master Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SNcJlIAOrLklh-5B7dyBg9utqtuSUrjmj66jbfMprSY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Master Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SNcJlIAOrLklh-5B7dyBg9utqtuSUrjmj66jbfMprSY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "ID laporan"
          ],
          "schema": [
            {
              "id": "ID laporan",
              "displayName": "ID laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Bulan",
              "displayName": "Bulan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "produk",
              "displayName": "produk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "wilayah",
              "displayName": "wilayah",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "penjualan (unit)",
              "displayName": "penjualan (unit)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target (unit)",
              "displayName": "target (unit)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pendapatan (IDR)",
              "displayName": "pendapatan (IDR)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "keterangan",
              "displayName": "keterangan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tanggal laporan",
              "displayName": "tanggal laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sumber",
              "displayName": "sumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1104,
        -112
      ],
      "id": "b5b8c752-61fe-4add-90c2-28093fc9403f",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XTSgLsOulOq9eTF7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua item dari input (aman untuk semua mode)\nconst inputData = $input.all();\n\n// Ekstrak semua baris dari semua item\nconst allRows = inputData.flatMap(item =>\n  Array.isArray(item.json) ? item.json : [item.json]\n);\n\n// Proses tiap baris\nallRows.forEach(row => {\n  if (typeof row === 'object' && row !== null) {\n    if (row['ID Laporan']) row['ID Laporan'] = String(row['ID Laporan']).trim();\n    if (row.Bulan) row.Bulan = String(row.Bulan).trim();\n    if (row['Kategori Produk']) row['Kategori Produk'] = String(row['Kategori Produk']).trim();\n    if (row['Nama Produk']) row['Nama Produk'] = String(row['Nama Produk']).trim();\n\n    row['Jumlah Stok'] = parseFloat(row['Jumlah Stok']) || 0;\n    row['Penjualan Harian'] = parseFloat(row['Penjualan Harian']) || 0;\n    row['Harga Satuan (IDR)'] = parseFloat(row['Harga Satuan (IDR)']) || 0;\n    row['Total Penjualan (IDR)'] = parseFloat(row['Total Penjualan (IDR)']) || 0;\n  }\n});\n\n// Kembalikan sebagai daftar item terpisah\nreturn allRows.map(row => ({ json: row }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        176
      ],
      "id": "1c4b2404-3e8a-4b83-ac56-b6b09847858e",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "ID Laporan",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        672,
        176
      ],
      "id": "8734d31c-38ee-4376-ae42-e0b8cc082fd5",
      "name": "Remove Duplicates1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1440,
        176
      ],
      "id": "323e3d42-88b8-424f-a634-81047be7095d",
      "name": "Merge1"
    },
    {
      "parameters": {
        "sendTo": "dama23079si@student.nurulfikri.ac.id",
        "subject": "Laporan Keuangan Bulanan Dummy",
        "message": "=<!DOCTYPE html> <html> <head>   <style>     body { font-family: Arial, sans-serif; line-height: 1.6; }     .header { background: #0d47a1; color: white; padding: 15px; text-align: center; }     .content { padding: 20px; }     .metric { margin: 8px 0; font-weight: bold; }     .highlight { color: #1976d2; }   </style> </head> <body>   <div class=\"header\">     <h2>📊 Laporan Bulanan</h2>     <p>{{ $json.Bulan }} {{ $json.Tahun }}</p>   </div>   <div class=\"content\">     <p>Halo Tim,</p>     <p>Berikut ringkasan laporan bulanan dari data gabungan (Sheet 1, 2, dan 3):</p>          <div class=\"metric\">✅ Jumlah Laporan: <span class=\"highlight\">{{ $json.Jumlah_Laporan }}</span></div>     <div class=\"metric\">📦 Total Penjualan: <span class=\"highlight\">{{ $json.Total_Penjualan_Unit }} unit</span></div>     <div class=\"metric\">💰 Total Pendapatan: <span class=\"highlight\">Rp{{ $json.Total_Pendapatan_IDR }}</span></div>     <div class=\"metric\">📈 Rata-rata Penjualan/Laporan: <span class=\"highlight\">{{ $json.Rata_Rata_Penjualan_Per_Laporan }} unit</span></div>          <p>🔗 <a href=\"https://docs.google.com/spreadsheets/d/1XgSB7caGKoqvUDOu00fJljwLOxscyEmvxuzQWkVJiFU/edit?usp=sharing/d/...\">Lihat Master Sheet</a> \n <a href=\"https://docs.google.com/spreadsheets/d/1XgSB7caGKoqvUDOu00fJljwLOxscyEmvxuzQWkVJiFU/edit?usp=sharing/...\">Lihat Laporan Bulanan</a></p>            </div> </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1904,
        400
      ],
      "id": "b4e68540-6be2-419f-8de9-e9f24be51814",
      "name": "Send a message",
      "webhookId": "e6e37d77-830b-45b2-ab4b-9fed146d99bc",
      "credentials": {
        "gmailOAuth2": {
          "id": "TKZaaUf7LD8zGWkT",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.all();\n\nconst allRows = inputData.flatMap(item => {\n  if (!item.json) return [];\n  return Array.isArray(item.json) ? item.json : [item.json];\n});\n\nconst cleaned = allRows\n  .filter(row => typeof row === 'object' && row !== null)\n  .map(row => {\n    return {\n      json: {\n        'ID Laporan': row['ID Laporan'] ? String(row['ID Laporan']).trim() : '',\n        'Bulan': row.Bulan ? String(row.Bulan).trim() : '',\n        'Kategori Produk': row['Kategori Produk'] ? String(row['Kategori Produk']).trim() : '',\n        'Nama Produk': row['Nama Produk'] ? String(row['Nama Produk']).trim() : '',\n        'Jumlah Stok': parseFloat(row['Jumlah Stok']) || 0,\n        'Penjualan Harian': parseFloat(row['Penjualan Harian']) || 0,\n        'Harga Satuan (IDR)': parseFloat(row['Harga Satuan (IDR)']) || 0,\n        'Total Penjualan (IDR)': parseFloat(row['Total Penjualan (IDR)']) || 0,\n      }\n    };\n  });\n\nreturn cleaned;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        176
      ],
      "id": "dc439a88-bb1c-4003-8bf3-30da8e9cdea1",
      "name": "Menyesuaikan Header"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nitems.forEach(item => {\n  if (item.json && item.json['ID Laporan']) {\n    // Tambahkan kolom \"Sumber\" berdasarkan ID awal\n    if (item.json['ID Laporan'].startsWith('REP')) {\n      item.json.Sumber = 'Sheet1';\n    } else if (item.json['ID Laporan'].startsWith('LAP')) {\n      item.json.Sumber = 'Sheet2';\n    } else {\n      item.json.Sumber = 'Unknown';\n    }\n  }\n});\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -112
      ],
      "id": "a77606de-85f7-426a-8f98-63d29b386018",
      "name": "Menambahkan Sumber Produk"
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua input (untuk aman di semua mode)\nconst inputData = $input.all();\n\n// Ekstrak semua baris\nconst allRows = inputData.flatMap(item =>\n  Array.isArray(item.json) ? item.json : [item.json]\n);\n\n// Transformasi setiap baris\nconst transformedRows = allRows.map(row => {\n  // Gabung Kategori + Nama Produk untuk kolom \"Produk\"\n  const produk = `${row['Kategori Produk'] || ''} ${row['Nama Produk'] || ''}`.trim();\n\n  // Buat objek baru dengan format Sheet 1 & 2\n  return {\n    'ID Laporan': row['ID Laporan'] ? String(row['ID Laporan']).trim() : '',\n    'Bulan': row.Bulan ? String(row.Bulan).trim() : '',\n    'Produk': produk,\n    'Wilayah': '-', // default, bisa diisi jika ada info wilayah\n    'Penjualan (Unit)': parseFloat(row['Penjualan Harian']) || 0,\n    'Target (Unit)': 0, // default, bisa diisi jika ada target\n    'Pendapatan (IDR)': parseFloat(row['Total Penjualan (IDR)']) || 0,\n    'Status': row['Karyawan Penanggung Jawab'] ? String(row['Karyawan Penanggung Jawab']).trim() : 'Tidak Diketahui',\n    'Keterangan': row['Catatan Status'] ? String(row['Catatan Status']).trim() : '',\n    'Tanggal Laporan': row.Bulan ? `${row.Bulan} 01, ${new Date().getFullYear()}` : ''\n  };\n});\n\n// Kembalikan sebagai array item terpisah\nreturn transformedRows.map(row => ({ json: row }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        176
      ],
      "id": "f19ad0f0-3c47-4a68-b944-34084077a0ca",
      "name": "Menambahkan Kolom Sumber"
    },
    {
      "parameters": {
        "jsCode": "// Ambil SEMUA input dari semua jalur\nconst allInputs = $input.all();\n\n// Gabungkan semua baris dari semua input\nconst allRows = allInputs.flatMap(item =>\n  Array.isArray(item.json) ? item.json : [item.json]\n);\n\n// Filter hanya bulan ini\nconst now = new Date();\nconst currentMonthName = now.toLocaleString('id-ID', { month: 'long' });\nconst currentYear = now.getFullYear();\n\nconst monthlyData = allRows.filter(row => \n  String(row.Bulan || '').toLowerCase() === currentMonthName.toLowerCase()\n);\n\n// Hitung metrik\nconst totalPenjualanUnit = monthlyData.reduce((sum, r) => sum + (r['Penjualan (Unit)'] || 0), 0);\nconst totalPendapatan = monthlyData.reduce((sum, r) => sum + (r['Pendapatan (IDR)'] || 0), 0);\nconst totalLaporan = monthlyData.length;\n\n// Buat ringkasan\nconst laporan = {\n  'Bulan': currentMonthName,\n  'Tahun': currentYear,\n  'Jumlah_Laporan': totalLaporan,\n  'Total_Penjualan_Unit': totalPenjualanUnit,\n  'Total_Pendapatan_IDR': totalPendapatan,\n  'Rata_Rata_Penjualan_Per_Laporan': totalLaporan ? (totalPenjualanUnit / totalLaporan).toFixed(2) : 0,\n  'Rata_Rata_Pendapatan_Per_Laporan': totalLaporan ? (totalPendapatan / totalLaporan).toFixed(2) : 0,\n  'Sumber_Data': 'Sheet 1, Sheet 2, Sheet 3',\n  'Terakhir_Diperbarui': new Date().toISOString()\n};\n\n// Kembalikan HANYA 1 item\nreturn [{ json: laporan }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        176
      ],
      "id": "c11f5139-dd32-4dd3-9335-ecd6e7e7a418",
      "name": "Generate Laporan"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1SNcJlIAOrLklh-5B7dyBg9utqtuSUrjmj66jbfMprSY",
          "mode": "list",
          "cachedResultName": "Dummy Master Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SNcJlIAOrLklh-5B7dyBg9utqtuSUrjmj66jbfMprSY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1378392170,
          "mode": "list",
          "cachedResultName": "Laporan Bulanan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SNcJlIAOrLklh-5B7dyBg9utqtuSUrjmj66jbfMprSY/edit#gid=1378392170"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1904,
        -64
      ],
      "id": "0284cd57-08c9-4851-b3bb-e451d4a542fe",
      "name": "laporan bulanan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XTSgLsOulOq9eTF7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5469947998",
        "text": "=📊 *Laporan Bulanan — {{$json.Bulan}} {{$json.Tahun}}*  ✅ *Jumlah Laporan*: {{$json.Jumlah_Laporan}} 📦 *Penjualan Total*: {{$json.Total_Penjualan_Unit}} unit 💰 *Pendapatan*: Rp{{ $json.Total_Pendapatan_IDR }}  📈 *Rata-rata Penjualan*: {{$json.Rata_Rata_Penjualan_Per_Laporan}} unit/laporan   📎 [Laporan Detail](https://docs.google.com/spreadsheets/d/1XgSB7caGKoqvUDOu00fJljwLOxscyEmvxuzQWkVJiFU/edit?usp=sharing)",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1920,
        176
      ],
      "id": "a49a38aa-849c-49d1-a503-83a86a89f475",
      "name": "Send a text message",
      "webhookId": "bbfa90b0-01a3-4072-850a-631fc7a35ea9",
      "credentials": {
        "telegramApi": {
          "id": "RapAv7paPrOKKozX",
          "name": "Telegram account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Menambahkan Sumber Produk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "Menyesuaikan Header",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Generate Laporan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menyesuaikan Header": {
      "main": [
        [
          {
            "node": "Menambahkan Kolom Sumber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menambahkan Sumber Produk": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menambahkan Kolom Sumber": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generate Laporan": {
      "main": [
        [
          {
            "node": "laporan bulanan",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "laporan bulanan": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b5b1b29b-e6fa-4bcf-9e0f-f845da085c9e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1db11a625f3afe1fab5c0985ea49aa71b566a373fd238a812e27aacddcade49d"
  },
  "id": "y4OS6G62acv6MzTk",
  "tags": []
}